# Ignore unnecessary files and directories
node_modules
backups
media
.git
.gitignore
fly.toml
flyctl*
.DS_Store
*.log
*.tmp
*.bak
*.zip
*.rar
*.7z
*.psd
*.mp4
*.mp3
*.wav
*.mov
*.mkv
*.avi
*.webm
*.exe
*.dll
.vscode
*.md
